:root {
  --white: #ffffff;
  --blue-900: #0B0D17;
  --blue-300: #D0D6F9;
}

body {
  background-color: #000000;
  color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--white);
}

.text-1 {
  font-family: var(--font-bellefair);
  font-size: 144px;
  line-height: normal;
  letter-spacing: 0px;
}

.text-2 {
  font-family: var(--font-bellefair);
  font-size: 100px;
  line-height: normal;
  letter-spacing: 0px;
}

.text-3 {
  font-family: var(--font-bellefair);
  font-size: 56px;
  line-height: normal;
  letter-spacing: 0px;
}

.text-4 {
  font-family: var(--font-bellefair);
  font-size: 32px;
  line-height: normal;
  letter-spacing: 0px;
}

.text-5 {
  font-family: var(--font-barlow-condensed);
  font-size: 28px;
  line-height: normal;
  letter-spacing: 4px;
}

.text-6 {
  font-family: var(--font-bellefair);
  font-size: 28px;
  line-height: normal;
  letter-spacing: 0px;
}

.text-7 {
  font-family: var(--font-barlow-condensed);
  font-size: 14px;
  line-height: normal;
  letter-spacing: 2px;
}

.text-8 {
  font-family: var(--font-barlow-condensed);
  font-size: 16px;
  line-height: normal;
  letter-spacing: 2px;
}

.text-9 {
  font-family: var(--font-barlow);
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0px;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2rem;
}

.flex {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.active {
  border-bottom: 3px solid rgb(255, 255, 255) !important;
  margin-bottom: -3px !important;
}

.btn {
  display: block;
  height: 100%;
  padding: 2rem 0;
  transition: all 0.5s;
  border-bottom: 3px solid transparent;
  margin-bottom: -3px;
  text-transform: uppercase;
}

.btn:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  margin-bottom: -3px;
}

@media screen and (max-width: 1099px) {
  .container {
    max-width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .flex {
    text-align: center;
    justify-content: space-evenly;
    height: max-content;
  }

  .text-2 {
    font-size: 80px;
  }

  .text-3 {
    font-size: 40px;
  }

  .text-4 {
    font-size: 24px;
  }

  .text-5 {
    font-size: 20px;
  }

  .text-9 {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-1 {
    font-size: 80px;
  }

  .text-2 {
    font-size: 56px;
  }

  .text-3 {
    font-size: 24px;
  }

  .text-4 {
    font-size: 18px;
  }

  .text-6 {
    font-size: 16px;
  }

  .text-8 {
    font-size: 14px;
  }

  .text-9 {
    font-size: 15px;
  }
}